.outer-container{
  max-width: $Max-Content-Width;

}
.container{
  display: flex;


}
.shop-item{
  overflow: hidden;
  border: $border;
  background: $Brand-White;

.image-container{
    padding:$Gutter;
  }
 .shop-item-info{

   text-align: center;
   padding: $Gutter;
   color:$Brand-Primary;
 }
}
